#contact{
   padding-bottom: 91px;
}
.contact {
   margin-top: 135px;
   border-radius: 22px;
   background: #F6F6F6;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.contact-left {
   padding: 107px 10px 117px 97px;
}

.contact-left h3 {
   color: #1E1D1D;
   font-size: 36px;
   font-weight: 700;
}

.contact-left p {
   color: #8B8E99;
   font-size: 16px;
   font-weight: 500;
   padding-top: 12px;
   padding-bottom: 12px;
}
.contact-inp{
   position: relative;
}
.contact-inp input {
   border-radius: 15px;
   background: #FFF;
   border: none;
   padding: 20px 210px 19px 30px;
}

.contact-inp button {
   position: absolute;
   right: 30px;
   top: 5px;
   color: #FFF;
   background-color: rgba(56, 88, 214, 1);
   text-align: center;
   font-size: 16px;
   font-weight: 600;
   line-height: 125.5%;
   border: none;
   border-radius: 8px;
   padding: 12px
   
}
.contact-right{
   margin: auto auto;
}